aiohttp
alembic
asyncpg
bcrypt
boto3
cryptography
dnspython
email-validator
fastapi
httpx
jinja2
Mako
motor
passlib[bcrypt]
psycopg2-binary
pydantic
pydantic-settings
PyJWT
pymongo
python-dotenv
python-jose[cryptography]
python-multipart
pywebpush
razorpay
requests
resend
SQLAlchemy
starlette
stripe
uvicorn[standard]
websockets
openai